body {
    margin: 0;
    background-image: url(../images/grain_wood_background_hd_picture_3.jpg);
    background-size: cover;
}

.crystal-card {
    margin: 8px;
    padding: 5px;
    size: 50%;
    position: relative;
    margin-inline-start: -1%;
}

#crystalSection {
    margin: 5px 10px 30px 10px;
    
}